{% load static %}
{% block content %}
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
{#                        <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="">#}
                        Xyacad
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Tabungan Sekolah</li>
                    <li class="sidebar-item {% if request.resolver_match.url_name == 'index' %} active {% endif %}">
                        <a href="{% url 'tabungan:index' %}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item {% if request.resolver_match.url_name == 'debit_list' %} active {% endif %}">
                        <a href="{% url 'tabungan:debit_list' %}" class='sidebar-link'>
                            <i class="fa fa-arrow-right"></i>
                            <span>Setor</span>
                        </a>
                    </li>
                    <li class="sidebar-item {% if request.resolver_match.url_name == 'kredit_list' %} active {% endif %}">
                        <a href="{% url 'tabungan:kredit_list' %}" class='sidebar-link'>
                            <i class="fa fa-arrow-left"></i>
                            <span>Tarik</span>
                        </a>
                    </li>
                    <li class="sidebar-item {% if request.resolver_match.url_name == 'cek_saldo' %} active {% endif %}">
                        <a href="{% url 'tabungan:cek_saldo' %}" class='sidebar-link'>
                            <i class="fa fa-money-bill"></i>
                            <span>Cek Saldo</span>
                        </a>
                    </li>
                    <li class="sidebar-item {% if request.resolver_match.url_name == 'tenan_list' %} active {% endif %}">
                        <a href="{% url 'tabungan:tenan_list' %}" class='sidebar-link'>
                            <i class="fa fa-store"></i>
                            <span>Tenan</span>
                        </a>
                    </li>
                    <li class="sidebar-title">Admin</li>
                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:home' %}" class='sidebar-link'>
                            <i class="fa fa-arrow-alt-circle-left"></i>
                            <span>Back to Admin Menu</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
{% endblock content %}